{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<body>
  
  <div class="icon-home">
    <a href="{{ path('app_index') }}"><img src="../img/icon-home.png" alt="home" data-title="Accueil" class="img-icon-home"></a>
  </div>

<div class="registration-box">

    <form action="{{ path('app_register') }}" method="POST" enctype="multipart/form-data">      
      <h1>Inscription</h1>  
      <div class="registration-form">
        
        <div class="picture-section">
          <div class="picture-box">
            <img src="../img/japanese-lantern-g2ee533b7e_640.jpg" alt="user-pic">
          </div>
          {{ form_row(registrationForm.userPhoto) }}
        </div>
  
        <div class="inputs-section">
          {{ form_row(registrationForm.lastName) }}
          {{ form_row(registrationForm.firstName) }}
          {{ form_row(registrationForm.nickname) }}
        
          <div class="row">
            <div class="column">
              {{ form_row(registrationForm.birthDate) }}
            </div>
            <div class="column">
              {{ form_row(registrationForm.sex) }}
            </div>
          </div>
        
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.password) }}
            {{ form_row(registrationForm.confirmPassword) }}
  
          <div class="button-row">
            <button type="submit">Créer un compte</button>
            <button type="submit">Annuler</button>
          </div>
  
        </div>
      </div>
    </form> 
</div> 

</body>
{% endblock %}
